* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  text-decoration: none;
}
  
body {
  overflow-x: hidden;
}
  
.borda {
  border: 1px solid red;
}

.cards {
  margin-top: -120px;  
}

.shadow {
    box-shadow: 0px 1px 15px rgba(0,0,0,.1) !important;
}

#panel {
  margin-bottom: -120px;
  position: relative;
  box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.2);
}

.bg-roxo {
    background-color: #7510F7;
    color: #FFF;
}



/* Menu topo */

.outline-border {
  color: #7510F7 !important;
  border: 2px solid #7510F7;
  border-radius: 30px; 
}
    
.outline-border:hover {
  background-color: #7510F7;
  transition: 0.3s;
  color: #FFF !important;
}
    
header a {
  color: #000;
}
    
a:hover {
  color: #7510F7;
  text-decoration: none;
  transition: 0.3s;
}



/* CLASS TEXT */

.text-roxo {
    color: #7510F7 !important;
}
 
.text-p {
  font-weight: 350;
  font-size: 18px;
}

.desativado {
    color: #7510F7 !important;
    font-weight: 500;
    opacity: 0.3;
}

.desativado:hover {
    cursor: no-drop;
}

/* CLASS RADIUS / BORDER */

.img-radius {
  width: 100px;
  border-radius: 80px;
}
  
.border-radius {
  border: 1px solid white;
  border-radius: 80px;
  color: #FFF;
}
  
.btn-panel {
  border: 1px solid #7510F7;
  border-radius: 80px;
  color: #FFF;
}

.btn-panel:hover {
    background-color: #7510F7;
}
  
.border-radius:hover {
  background-color: #FFF;
  color: #7510F7;
  transition: 0.6;
}

.border-work {
    border-radius: 15px !important;
}

.btn-work {
  border: 1px solid #7510F7;
  padding: 8px 25px;
  border-radius: 80px;
  color: #FFF !important;
}
  
.btn-work:hover {
  background-color: #7510F7;
  transition: 0.6s;
}



/* FIGURECAPTION RECENT WORK */

.figure-box {
    position: relative;
}

.figure-box figure {
    overflow: hidden;
    position: relative;
}

.figure-box figure img {
    max-width: 100%;
    position: relative;
}

.figure-box figcaption {
    position: absolute;
    padding-top: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    background-color: #141c3a;
    color: #FFF;
    opacity: 0;
    transition: 0.4s;
}

.figure-box figcaption:hover {
    opacity: 1;
    transition: 0.6s;
}


/* CLASS MY STARTUP */

#my-startup img {
    height: 130px;
}